@import "./vars" ;

.header.header-cart{
    .navbar{
        .navbar-collapse{
            .min-nav{
                .others{
                    .cart{
                        img{
                            content: url("../icons/out-of-the-cart-e-commerce-interface-symbol.svg");
                        }
                    }
                }
            }
        }
    }
}
.process-orders.cart{
    .branch{
        a+a{
            &::after{
                left: 213px !important;
            }
        }
        .bar{
            &::after{
                left: 66px !important; 
            }
        }
        .bar-2{
            &::after{
                left: 64px !important;
            }
        }
    }
    .product-details{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        margin-bottom: 0 !important;
        .show-case{
            .image{
                top: -28px;
            }
        }
        .price-delete{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            .delete{
                cursor: pointer;
            }
        }
    }
    .product-details +  .product-details{
        margin-top: 30px;
        margin-bottom:50px !important;
    }
    .notes{
        .form-control{
            box-shadow: none;
            color: $icon-color;
            caret-color: $bg-color;
            &::placeholder{
                color: $bg-color;
            }
        }
    }
    .location{
        .address{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            .details{
                .title{
                    font-size: 14pt;
                }
                span{
                    font-size: 14pt;
                }
            }
        }
        .change-location{
            .btn{
                box-shadow: inset 0 0 5px $icon-color-2;
                border: none;
                background-image: linear-gradient($btn-color-1 , $btn-color-2);
                color: $white;
                transition: all 300ms ease;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                width: 90px;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                font-size: 16pt;
                font-weight: bold;
                &:hover{
                    filter: brightness(95%);
                    -webkit-filter: brightness(95%);
                }
            }
        }
    }
    .costs{
        padding-top: 15px ;
        margin-top: 80px;
        padding-inline: 0 !important;
        .invoice{
            display: flex;
            align-items: center;
            padding-inline: 30px;
            margin-bottom: 5px;
            span{
                margin-right: 10px;
                font-size: 15pt;
                font-weight: normal;
            }
        }
        .coupon{
            background-image: url("../img/Union\ 2.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 50px 0;
            height: 230px;
            margin-bottom: 10px;
            .title-cop{
                text-align: right;
                margin-bottom: 20px;
                padding-inline: 30px;
            }
            .form{
                position: relative;
                .form-control{
                    box-shadow: none;
                    padding: 15px 70px 15px 10px;
                    width: 85%;
                    margin: auto;
                    border: 2px solid $bg-color;
                    background-color: $light-line;
                    border-radius: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    -o-border-radius: 25px;
                    color: $icon-color;
                    caret-color: $bg-color;
                    &::placeholder{
                        color: $bg-color;
                    }
                }
                .image{
                    position: absolute;
                    right: 12%;
                    top: 15px;
                    width: 25px;
                    img{
                        width: 100%;
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        width: 2px;
                        height: 30px;
                        right: 40px;
                        top: 0;
                        background-color: $bg-color;
                    }
                }
            }
        }
        .cost{
            padding-inline: 30px;
        }
    }
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    .confirm-btn{
        background-image: linear-gradient($main-color , $icon-color);
        box-shadow: inset 0 0 5px $icon-color-2;
        width: 28%;
        border: none;
        height: 55px;
        font-size: 20pt ;
        color: $white ;
        border-radius: 25px ;
        -webkit-border-radius: 25px ;
        -moz-border-radius: 25px ;
        -ms-border-radius: 25px ;
        -o-border-radius: 25px ;
        transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        &:hover{
            filter: brightness(95%);
            -webkit-filter: brightness(95%);
        }
    }
}
#confirm{
    top: 25%;
    .modal-content{
        padding: 50px;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image{
            width: 150px;
            margin-bottom: 10px;
            img{
                width: 100%;
            }
        }
        .modal-title{
            color: $main-color;
            font-weight: 800;
            font-size: 18pt;
            margin-bottom: 50px;
        }
        .btn{
            width: 65%;
            margin-bottom: 50px;
            box-shadow: inset 0 0 5px $icon-color-2;
            border: none;
            background-image: linear-gradient($btn-color-1 , $btn-color-2);
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
        }
    }
}

@media(max-width : 1024px){
    .process-orders.cart{
        padding-inline: 10px ;
    }
}
@media(max-width : 991.98px){
    .process-orders.cart{
        .costs{
            .coupon{
                height: 400px ;
                .form{
                    .form-control{
                        padding-right: 100px !important;
                    }
                } 
            }
        }
    }
    #confirm{
        .modal-content{
            height: 370px ;
        }
    }
}
@media(max-width : 768px){
    .process-orders.cart{
        .costs{
            .coupon{
                height: 305px ;
            }
        }
        .col-lg-7{
            .branch{
                width: 100% ;
                text-align: center ;
            }
        }
    }
    .button{
        .confirm-btn{
            width: 40% ;
        }
    }
}
@media(max-width : 575.98px){
    .process-orders.cart{
        .costs{
            .coupon{
                height: 222px ;
            }
        }
        .col-lg-7{
            .product-details{
                .show-case{
                    .image{
                        width: 150px ;
                    }
                    .text{
                        width: 220px ;
                        font-size: 12pt ;
                    }
                }
                .price{
                    font-size: 12pt ;
                }
            }
        }
    }
    .button{
        .confirm-btn{
            width: 50% ;
        }
    }
    #confirm{
        .modal-content{
            width: 85% ;
            margin-inline: auto  ;
        }
    }
}
@media(min-width : 360px) and (max-width : 415px){
    .process-orders.cart{
        .col-lg-7{
            padding: 0 ;
            .branch{
                top: 23% ;
            }
            .product-details{
                height: 350px ;
                .show-case{
                    flex-direction: column ;
                    align-items: flex-start;
                }
                .price-delete{
                    padding-left: 3px ;
                }
            }
        }
        .location{
            .address{
                .details{
                    span{
                        font-size: 11pt ;
                    }
                    .title{
                        font-size: 12pt ;
                    }
                }
            }
        }
    }
    .button{
        .confirm-btn{
            width: 90% ;
        }
    }
    #confirm{
        .modal-content{
            width: 100% ;
            .btn{
                width: 100% ;
            }
        }
    }
}
@media(max-width : 280px){
    .process-orders.cart{
        padding-inline: 2px ;
        .costs{
            .coupon{
                .form{
                    .form-control{
                        padding-right: 70px !important ;
                        width: 96% !important ;
                    }
                }
            }
        }
        .col-lg-7{
            padding: 0 ;
            .product-details{
                height: 350px ;
                .show-case{
                    flex-direction: column ;
                    align-items: flex-start;
                    width: 65% ;
                }
                .price-delete{
                    padding-left: 0 ;
                    margin-left: 15px ;
                    .price{
                        margin-left: 0 ;
                    }
                }
            }
        }
        .location{
            .image{
                margin-left: 8px ;
            }
            .change-location{
                .btn{
                    width: 70px ;
                    font-size: 12pt ;
                }
            }
            .address{
                margin-left: 10px ;
                .image{
                    margin-left: 0 ;
                    img{
                        width: 65% ;
                    }
                }
                .details{
                    span{
                        font-size: 11pt ;
                    }
                    .title{
                        font-size: 12pt ;
                    }
                }
            }
        }
    }
    .button{
        .confirm-btn{
            width: 90% ;
        }
    }
    #confirm{
        .modal-content{
            padding-inline: 20px ;
            width: 100% ;
            .btn{
                width: 100% ;
            }
        }
    }
}
//ltr 

html[dir = "ltr"]{
    .process-orders.cart{
        .branch{
            a+a{
                &::after{
                    right: -21px ;
                }
            }
            .bar{
                &::after{
                    right: -20px ;
                }
            }
        }
        .product-details{
            padding: 30px ;
        }
        .location{
            .address{
                margin-right: 50px ;
                margin-left: 0 ;
            }
        }
        .costs{
            .invoice{
                span{
                    margin-left: 10px ;
                    margin-right: 0 ;
                }
            }
            .coupon{
                .title-cop{
                    text-align: left ;
                }
                .form{
                    .form-control{
                        padding: 15px 10px 15px 70px ;  
                    }
                    .image{
                        left: 12% ;
                        right: initial ;
                        &::after{
                            left: 40px ;
                            right:  initial ;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width : 991.98px){
    html[dir = "ltr"]{
        .process-orders.cart{
            .costs{
                .coupon{
                    .form{
                        .form-control{
                            padding-left: 100px !important ;
                            padding-right: 0 !important ;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width : 575.98px){
    html[dir = "ltr"]{
        .process-orders.cart{
            .col-lg-7{
                .product-details{
                    .show-case{
                        .text{
                            margin-left: 13px ;
                        }
                    }
                }
            }
        }
    }
}
@media(min-width : 360px) and (max-width : 415px){
    html[dir = "ltr"]{
        .process-orders.cart{
            .col-lg-7{
                .product-details{
                    .price-delete{
                        padding-right: 3px ;
                        padding-left: 0 ;
                    }
                }
            }
        }
    }
}
@media(max-width : 280px){
    html[dir = "ltr"]{
        .process-orders.cart{
            .costs{
                .coupon{
                    .form{
                        .form-control{
                            padding-left: 70px !important ;
                            padding-right: 0 !important ;
                        }
                    }
                }
            }
            .col-lg-7{
                .price-delete{
                    padding-left: 0 ;
                    padding-right: 0 ;
                    .price{
                        margin-left: 0 ;
                        margin-right: 0 ;
                    }
                }
            }
            .location{
                .image{
                    margin-left: 0 ;
                    margin-right: 8px ;
                }
                .address{
                    margin-right: 10px ;
                    margin-left: 0 ;
                    .image{
                        margin-right: 0 ;
                        margin-left: 0 ;
                    }
                }
            }
        }
    }
}