@import "./vars" ; 
.signin.change-password{
    padding-bottom: 150px;
    .show-case{
        padding-bottom: 120px !important; 
        width: 760px;
        .title{
            .alert{
                margin-right: 0;
            }
            .sub-title{
                padding-inline: 80px ; 
            }
        }
        .form-group{
            width: 90%;
            margin-inline: auto;
            .info{
                top: 6%;
            }
            .flag{
                top: 6%;
            }
            .buttons{
                margin-top: 70px;
            }
        }
    }
}