@import "./vars" ;
.info-product{
    padding: 30px 70px 120px;
    background-color: $light-line;
    .branch{
        @extend %branch ; 
        a+a{
            &::after{
                left: 213px !important;
            }
        }
        .bar{
            &::after{
                left: 66px !important;
            }
        }
    }
    .informations{
        background-color: $white;
        padding: 30px 50px 70px;
        border: 1px solid $bg-color;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        .price{
            background-color: $btn-color-1;
            width: 100px;
            padding-block: 10px;
            color: $main-color;
            font-weight: bold;
            text-align: center;
            margin-right: auto;
            cursor:default;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }    
        .container-fluid{
            margin-top: -55px;
        }
        .col-md-5{
            position: relative;
            .breef{
                color: $main-color;
                font-weight: bold;
                font-size: 14pt;
                margin-top: 100px;
                margin-bottom: 50px;
                text-align: right;
                padding-left: 190px;
            }
            .details{
                .detail{
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    color: $main-color;
                }
                .detail+.detail{
                    margin-top: 50px;
                    position: relative;
                }
            }
        }
        .col-md-4{
            #product-carousel{
                .carousel-inner{
                    .carousel-item{
                        img{
                            min-height: 400px;
                            max-height: 400px;
                        }
                    }
                }
                .carousel-indicators{
                    button{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        background-color: $bg-color;
                    }
                    .active{
                        background-color: $btn-color-1;
                    }
                }
                margin-bottom: 30px;
            }
            .data{
                width: 50%;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                margin-inline: auto;
                margin-bottom: 50px;
                .image{
                    background-color: $bg-color;
                    border: none;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;
                    cursor: pointer;
                    text-align: center;
                    width: 70px;
                    margin-bottom: 25px;
                    img{
                        width: 20px;
                    }
                }
                .value-content{
                    width: 70%;
                    text-align: center;
                }
                .add{
                    background-color: $main-color;
                }
            }
            .add-to-cart{
                text-align: center;
                .btn{
                    font-size: 18pt;
                    background-image: linear-gradient($main-color , $icon-color);
                    box-shadow: 0 0 5px $icon-color-2;
                    color: $white !important;
                    border: none;
                    border-radius: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    -o-border-radius: 25px;
                    width: 70%;
                    transition: all 300ms ease;
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    -ms-transition: all 300ms ease;
                    -o-transition: all 300ms ease;
                    &:hover{
                        filter: brightness(95%);
                        -webkit-filter: brightness(95%);
                    }
                }
            }
        }
    }
}
#confirm.add-to-cart{
    .modal-content{
        display: block;
        height: 280px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        .modal-title{
            text-align: center;
        }
        .buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            .btn{
                width: 100%;
                &:last-child{
                    background-image: linear-gradient($main-color , $icon-color);
                }
            }
        }
    }
}

@media(max-width : 1199.98px){
    .info-product{
        padding-inline: 50px ;
    }
}
@media(max-width : 1024px){
    .info-product{
        .informations{
            .col-md-5{
                .breef{
                    padding-left: 100px ;
                }
                .details{
                    width: 120% ;
                }
            }
            .col-md-4{
                #product-carousel{
                    .carousel-inner{
                        .carousel-item{
                            img{
                                min-height: 330px ;
                                max-height: 330px ;
                            }
                        }
                    }
                }
                .data{
                    width: 80% ;
                }
                .add-to-cart{
                    .btn{
                        width: 90% ;
                    }
                }
            }  
        }
    } 
}
@media(max-width : 912px){
    .info-product{
        .informations{
            .price{
                width: 80px;
                font-size: 14pt ;
            }
            .col-md-5{
                .breef{
                    padding-left: 30px ;
                    font-size: 12pt ;
                }
                .details{
                    .detail{
                        font-size: 12pt ;
                    }
                }
            }
            .col-md-4{
                #product-carousel{
                    .carousel-inner{
                        .carousel-item{
                            img{
                                min-height: 250px ;
                                max-height: 250px ;
                            }
                        }
                    }
                }
                .data{
                    width: 90% ;
                }
                .add-to-cart{
                    .btn{
                        width: 100% ;
                    }
                }
            }
        }
    }
}
@media(max-width : 767.98px){
    .info-product{
        .informations{
            .col-md-4{
                #product-carousel{
                    .carousel-inner{
                        .carousel-item{
                            img{
                                min-height: 500px ;
                                max-height: 500px ;
                            }
                        }
                    }
                }
            }
            .col-md-5{
                .breef{
                    padding-left: 280px  ;
                }
                .details{
                    width: 80% ;
                }
            }
        }
    }
}
@media(max-width : 575.98px){
    .info-product{
        .informations{
            .col-md-4{
                #product-carousel{
                    .carousel-inner{
                        .carousel-item{
                            img{
                                min-height: 400px ;
                                max-height: 400px ;
                            }
                        }
                    }
                }
            }
            .col-md-5{
                .breef{
                    padding-left: 130px ;
                }
            }
        }
    }
}
@media(min-width : 280px) and (max-width : 415px){
    .info-product{
        padding-inline: 5px ;
        .informations{
            padding-inline: 12px ;
            .price{
                margin-bottom: 80px ;
            }
            .col-md-4{
                #product-carousel{
                    .carousel-inner{
                        .carousel-item{
                            img{
                                min-height: 280px !important ;
                                max-height: 280px  !important;
                            }
                        }
                    }
                }
            }
            .col-md-5{
                .breef{
                    padding-left: 50px ;
                    font-size: 10pt ;
                }
                .details{
                    .detail{
                        font-size: 10pt ;
                    }
                }
            }
        }
    }
}
@media(max-width : 280px){
    .info-product{
        .branch{
            a+a{
                &::after{
                    left: 18px !important ;
                }
            }
        }
    }
}

//ltr 
html[dir = "ltr"]{
    .info-product{
        .branch{
            a+a{
                margin-left: 30px ;
                &::after{
                    left: 214px !important;
                }
            }
            .bar{
                &::after{
                    left: 66px !important ;
                }
            }
        }
        .informations{
            .price{
                margin-left: auto ;
                margin-right: 0 ;
            }
            .col-md-5{
                .breef{
                    text-align: left ;
                    padding-right: 190px ;
                    padding-left: 0 ;
                }
            }
            .offset-1{
                margin-left: 8.33333333% ;
                margin-right: 0 ;
            }
        }
    }
    #confirm.add-to-cart{
        .modal-content{
            .btn + .btn{
                margin-right: 0 ;
                margin-left: 15px ;
            }
        }
    }
}

@media(max-width : 1024px){
    html[dir = "ltr"]{
        .info-product{
            .informations{
                .col-md-5{
                    .breef{
                        padding-right: 100px ;
                        padding-left: 0 ;
                    }
                }
            }
        }
    }
}
@media(max-width : 912px){
    html[dir = "ltr"]{
        .info-product{
            .informations{
                .col-md-5{
                    .breef{
                        padding-right: 30px ;
                        padding-left: 0 ;
                    }
                }
            }
        }
    }
}
@media(max-width : 767.98px){
    html[dir = "ltr"]{
        .info-product{
            .informations{
                .col-md-5{
                    .breef{
                        padding-right: 280px ;
                        padding-left: 0 ;
                    }
                }
            }
        }
    }
}
@media(max-width : 575.98px){
    html[dir = "ltr"]{
        .info-product{
            .informations{
                .col-md-5{
                    .breef{
                        padding-right: 130px ;
                        padding-left: 0 ;
                    }
                }
            }
        }
    }
}
@media(min-width : 280px) and (max-width : 415px){
    html[dir = "ltr"]{
        .info-product{
            .informations{
                .col-md-5{
                    .breef{
                        padding-right: 50px ;
                        padding-left: 0 ;
                    }
                }
            }
        }
    }
}
@media(max-width : 280px){
    html[dir = "ltr"]{
        .info-product{
            .branch{
                a+a{
                    &::after{
                        left: 124px !important  ;
                        right: initial !important ;
                    }
                }
                a:first-child{
                    padding-left: 15px ;
                }
                .bar{
                    &:after{
                        left: 140px !important;
                    }
                }
                a:nth-child(3){
                    padding-right: 15px ;
                }
            }
        }
    }
}