@import "./vars" ; 
.signin.new-password{
    padding-bottom: 120px;
    .show-case{
        padding-bottom: 120px !important; 
        width: 760px !important;
        .title{
            .alert{
                margin-right: 0;
                font-weight: bold;
                font-size: 25pt;
                margin-left: 15px;
                margin-bottom: 5px;
            }
        }
        .form-group{
            width: 90%;
            margin-inline: auto;
            .form-control{
                &:first-of-type{
                    padding-right: 30px;
                }
            }
            .buttons{
                margin-top: 90px;
            }
        }
    }
}