@import "./vars" ;

.orders{
    background-color: $light-line;
    padding: 30px  70px 100px;
    .branch{
        @extend %branch ; 
        a + a{
            &::after{
                left: 69px !important; 
            }
        }
        .bar{
            &::after{
                left: 67px !important;
            }
        }
    }
    .show-case{
        padding: 70px 60px 250px;
        background-color: $white;
        border: 1px solid $bg-color;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        .title{
            display: flex;
            align-items: center;
            color: $main-color;
            position: relative;
            cursor: pointer;
            margin-bottom: 70px;
            .title-curr{
                margin-left: 50px;
                font-weight: bold;
                position: relative;
            }
            .title-finish{
                position: relative;
            }
            &::after{
                position: absolute;
                content: "";
                width: 93%;
                height: 4px;
                background-color: $light-line;
                bottom: -20px;
                right: -20px;
            }
        }
        .current-orders{
            display: block;
            margin-bottom: 50px;
            background-color: $light-line;
            width: 83%;
            padding: 50px;
            border: 1px solid $bg-color;
            border-radius: 60px;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            -ms-border-radius: 60px;
            -o-border-radius: 60px;
            .info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;
                .num-order{
                    .tit{
                        color: $main-color;
                        font-weight: 800;
                        font-size: 16pt;
                        margin-left: 8px;
                    }
                    .sub{
                        color: $main-color;
                    }
                }
                .quantity{
                    color: $main-color;
                    font-size: 14pt;
                    font-weight: 800;
                    width: 80px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: $btn-color-1;
                    border-radius: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    -o-border-radius: 25px;
                }
            }
            .order-date{
                margin-bottom: 70px;
                .tit{
                    color: $main-color;
                    font-weight: 800;
                    font-size: 16pt;
                    margin-left: 12px;
                }
                .sub{
                    color: $main-color;
                }
            }
            .state-order{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    svg{
                        margin-left: 10px;
                    }
                    span{
                        position: absolute;
                        top: 0;
                        right: 11px;
                        color: $main-color;
                        font-weight: bold;
                    }
                    .text{
                        color: $bg-color;
                        font-weight: bold;
                        font-size: 14pt;
                    }
                }
                div+div{
                    margin-right: 20px;
                }
                .process{
                    span{
                        color: $white;
                    }
                }
                .finished{
                    span{
                        right: 7px;
                    }
                }
            }
        }
        .current-orders.finished-orders{
            display: none;
            .state-order{
                div{
                    .text{
                        color: $main-color;
                    }
                    svg{
                        #Path_1636{
                            fill: $main-color !important;
                        }
                        #Path_1637{
                            fill : $icon-color  !important;  
                        }
                    }
                    span{
                        color: $white !important;
                    }
                    .done{
                        #Icon_material-done{
                            fill: $white !important;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width : 1199.98px){
    .orders{
        .show-case{
            .current-orders{
                width: 90% ;
            }
        }
    }  
}
@media(max-width : 1024px){
    .orders{
        .show-case{
            padding-inline: 40px ;
            .current-orders{
                width: 100% ;
            }
        }
    }
}
@media(max-width : 768px){
    .orders{
        padding-inline: 20px ;
        .show-case{
            padding-bottom: 150px ;
        }
    }
}
@media(max-width : 575.98px){
    .orders{
        padding-inline: 10px ;
        .show-case{
            padding-inline: 20px ;
            .title{
                &::after{
                    right: -7px ;
                }
            }
            .active-title{
                &::after{
                    right: -7px ;
                }
            }
            .current-orders{
                padding: 30px !important;
            }
        }
    }
}
@media(min-width : 280px) and(max-width : 415px){
    .orders{
        .show-case{
            padding-inline: 7px ;
            .title{
                font-size: 13pt;
                &::after{
                    width: 102% ;
                }
            }
            .current-orders{
                padding: 23px !important ;
                .info{
                    margin-bottom: 20px ;
                    .num-order{
                        .tit{
                            font-size: 12pt ;
                            margin-left: 4px   ;
                        }
                        .sub{
                            font-size: 13pt  ;
                        }
                    }
                    .quantity{
                        font-size: 12pt ;
                        width: 60px;
                        height: 30px;
                        line-height: 30px;
                    }
                }
                .order-date{
                    margin-bottom: 40px ;
                    .tit{
                        font-size: 12pt ;
                        margin-left: 4px   ;
                    }
                    .sub{
                        font-size: 13pt  ;
                    }
                }
                .state-order{
                    justify-content: center;
                    flex-direction: column;
                    div + div{
                        margin-right: 0 ;
                        margin-top: 20px ;
                    }
                    .finished{
                        margin-left: 110px;
                    }
                }
            }
        }
    }
}
@media(max-width : 280px){
    .orders{
        .show-case{
            .title{
                font-size: 11pt ;
                .title-curr{
                    margin-left: 30px ;
                }
            }
        }
    }
}

//ltr 
html[dir = "ltr"]{
    .orders{
        .branch{
            a+a{
                margin-left: 30px ;
            }
        }
        .show-case{
            .title{
                .title-curr{
                    margin-right: 50px ;
                    margin-left: 0 ;
                }
                &::after{
                    left: -20px ;
                    right: initial ;
                }
            }
            .current-orders{
                .info{
                    .num-order{
                        .tit{
                            margin-right: 8px ;
                            margin-left: 0 ;
                        }
                    }
                }
                .order-date{
                    .tit{
                        margin-right: 12px ;
                        margin-left: 0;
                    }
                }
                .state-order{
                    div{
                        svg{
                            margin-right: 10px ;
                            margin-left: 0;
                        }
                        span{
                            left: 11px ;
                            right: initial ;
                        }
                    }
                    div + div{
                        margin-left: 20px ;
                        margin-right: 0 ;
                    }
                    .finished{
                        span{
                            left: 7px ;
                            right: initial ; 
                        }
                    }
                }
            }
        }
    }
}

@media(max-width : 575.98px){
    html[dir = "ltr"]{
        .orders{
            .show-case{
                .title{
                    &::after{
                        left: -7px ;
                        right: initial ;
                    }
                }
                .active-title{
                    &::after{
                        left: -7px ;
                        right: initial ;
                    }
                }
            }
        }
    }
}

@media(min-width : 280px) and(max-width : 415px){
    html[dir = "ltr"]{
        .orders{
            .show-case{
                .current-orders{
                    .info{
                        .num-order{
                            .tit{
                                margin-right: 4px ;
                                margin-left: 0 ;
                            }
                        }
                    }
                    .order-date{
                        .tit{
                            margin-right: 4px ;
                            margin-left: 0 ;
                        }
                    }
                    .state-order{
                        div + div{
                            margin-left: 0 ;
                            margin-right: 0 ;
                        }
                        .finished{
                            margin-right: 110px ;
                            margin-left: 0 ;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width : 280px){
    html[dir = "ltr"]{
        .orders{
            .branch{
                a+a{
                    margin-left: 18px ;
                }
                .bar{
                    &::after{
                        left: 63px  !important ;
                    }
                }
            }
            .show-case{
                .title{
                    .title-curr{
                        margin-left: 0 ;
                        margin-right: 30px ;
                    }
                }
            }
        }
    }
}
