@import "./vars" ;
#products{
    background-color: $light-line;
    padding: 30px 70px 120px;
    .branch{
        @extend %branch ; 
        a+a{
            &::after{
                left: 212px !important;
            }
        }
    }
    .min-nav{
        @extend %nav ; 
    }
    .sub-nav{
        @extend %nav ; 
        justify-content: stretch !important;
        margin-bottom: 50px ;
        margin-top: 25px;
        .nav-item{
            width: 220px;
            .nav-link{
                font-size: 18pt !important;
            }
        }    
    }
    .products{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4) , 1fr));
        gap: 0px 20px ;
        .product-details{
            padding-top: 15px !important;
            @extend %product ;
            margin-bottom: 30px !important;
            .show-case{
                .text{
                    margin-right: 12px !important;
                }
                .price{
                    text-align: right !important;
                    margin-right: 25px;
                    margin-top: 5px;
                }
                .image{
                    top: -20px !important;
                    height: 195px !important;
                    img{
                        min-height: 85% !important;
                        max-height: 85% !important;
                    }
                }
            }
        }
    }
}