@import "./vars" ;
.t-c{
    background-color: $light-line;
    padding: 70px;
    .branch{
        @extend %branch ; 
    }
    .show-case{
        @extend %show-case ; 
        .logo{
            position: relative;
            width: 200px;
            margin-right: auto;
            margin-bottom: 50px;
            img{
                width: 100%;
            }
            &::after{
                position: absolute;
                content: "";
                bottom: -20px;
                left: 30px;
                width: 385%;
                height: 2px;
                background-color: $light-line;
            }
        }
        .textes{
            text-align: center;
            color: $main-color;
            padding: 0 100px 0 20px;
            font-size: 15pt;
        }
    }
}