@import "./t_c" ; 
@import "./about-us" ; 
@import "./errors" ; 
@import "./login" ; 
@import "./create-account" ;
@import "./change-password" ; 
@import "./otp" ; 
@import "./new-password" ; 
@import "./vars" ;
.header{
    .info{
        padding-inline: 100px;
        background-color: $main-color;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: end;
        color: $white;
        font-size: 12pt;
        span{
            margin-left: 5px;
        }
        .email{
            margin-left: 25px;
        }
    }
    .navbar{
        display: block;
        padding-block: 0;
        .navbar-collapse{
            flex-direction: column;
            .min-nav{
                position: relative;
                width: 100%;
                padding-inline: 70px;
                height: 90px;
                display: grid;
                grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
                align-items: baseline;
                .lang{
                    text-align: right;
                    .dropdown-toggle{
                        &::after{
                            border: none;
                            content: url("../icons/Icon\ ionic-ios-arrow-forward.svg");
                        }
                    }
                    .dropdown{
                        @extend %drop ; 
                        .dropdown-menu{
                            right: 80px;
                        }
                    }
                }
                .navbar-brand{
                    margin-left: 0;
                    margin-right: 15px;
                    text-align: center;
                    img{
                        width: 50%;
                    }
                }
                .others{
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-end;
                    .login{
                        margin-left: 10px;
                        .dropdown-toggle{
                            &::after{
                                content: initial;
                            }
                        }
                        .dropdown{
                            @extend %drop ; 
                            .dropdown-menu{
                                right: -155px;
                                .dropdown-item{
                                    font-size: 15pt;
                                }
                            }
                        }
                    }
                }
                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $light-line;
                    bottom: 0;
                }
            }
            .sub-nav{
                width: 100%;
                padding-inline: 60px;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .nav-item{
                    .nav-link{
                        color: $main-color;
                    }
                    &:hover{
                        .nav-link{
                            color: $icon-color;
                        }
                    }
                }
            }
        }
    }
    #slider{
        .carousel-inner{
            position: relative;
            .carousel-item{
                position: relative;
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 35%;
                    right: 6%;
                    .text{
                        color: $main-color;
                        font-weight: bold;
                        font-size: 25pt;
                        width: 500px;
                    }
                }
            }
            .button{
                position: absolute;
                top: 57%;
                right: 6%;
                background-image: linear-gradient($btn-color-1 , $btn-color-2) ;
                width: 300px;
                box-shadow: inset 0 0 5px $bg-color;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                transition: all 300ms ease;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                .btn{
                    display: inherit;
                    color: $white;
                    font-size: 20pt;
                    box-shadow: none;
                }
                &:hover{
                    filter: brightness(95%);
                    -webkit-filter: brightness(95%);
                }
            }
        }
        .carousel-control-prev{
            width: 25px;
            height: 25px;
            top: 50%;
            right: 2%;
            opacity: 1;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            .icon{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.features{
    padding: 150px 100px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(calc(100% / 3) , 1fr));
    align-items: center;
    justify-content: center;
    .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image{
            background-color: $light-line;
            border: 1px solid $bg-color;
            width: 200px;
            height: 200px;
            line-height: 200px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            text-align: center;
            margin-bottom: 20px;
            img{
                width: 65%;
            }
        }
        .title{
            color: $main-color;
            font-size: 15pt;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .text{
            color: $feature-color;
            font-size: 12pt;
            padding-inline: 10px;
            padding-inline: 125px;
            text-align: center;
        }
    }
}
.sections{
    padding: 100px 50px; 
    .title{
        @extend %title ; 
        &:after{
            right: 18%;
            width: 75%;
        }
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(40% , 1fr));
        gap: 0 20px;
        .categ{
            .image{
                position: relative;
                .overlay{
                    position: absolute;
                    width: 400px;
                    font-size: 25pt;
                    padding-inline: 40px;
                    font-weight: bold;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                .overlay-phone{
                    top: 5%;
                    background-color: $btn-color-1;
                    color: $white;
                    height: 175px;
                }
                .overlay-electronics{
                    background-color: $white;
                    bottom: 5%;
                    color: $main-color;
                    height: 125px;
                }
                .overlay-lap{
                    background-image: linear-gradient($main-color , $icon-color);
                    color: $white;
                    height: 300px;
                    width: 330px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    top: 50%;
                    right: 25%;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}
.order{
    position: relative;
    .show-case{
        position: absolute;
        padding: 70px 70px 0 0;
        .title{
            position: relative;
            font-size: 25pt;
            font-weight: 800;
            z-index: 514;
            color: $main-color;
            margin-bottom: 15px;
            &::after{
                position: absolute;
                content: "";
                width: 100px;
                height: 10px;
                background-color: $btn-color-1;
                opacity: 0.7;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                bottom: 2px;
                right: -16px;
                z-index: -1;
                width: 176px;
                height: 10px;
            }
        }
        .text{
            color: $main-color;
            font-size: 22pt;
        }
    }
    .image{
        width: 100%;
        img{
            width: 100%;
        }
        .over-phone{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.best-seller{
    padding: 70px 70px 150px 0;
    .title{
        @extend %title ; 
        &::after{
            right: 12%;
            width: 75%;
        }
    }
        .owl-stage-outer{
            height: 340px !important;
        }
        .owl-carousel{
            position: relative !important ; 
        }
        .owl-item{
            margin-left: 15px !important;
            margin-bottom: 100px;
            img{
                width: 88% !important;
                min-height: 200px;
                max-height: 200px;
                margin-bottom: 12px;
            }
            .explanation{
                background-color: $btn-color-1;
                padding-block: 5px;
                width: 86%;
                min-height: 70px;
                max-height: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                box-shadow:  0 0 5px $icon-color-2;
                transition: all 200ms ease;
                -webkit-transition: all 200ms ease;
                -moz-transition: all 200ms ease;
                -ms-transition: all 200ms ease;
                -o-transition: all 200ms ease;
                .sub-title{
                    font-size: 15pt;
                    color: $white;
                    width:100%;
                    height:30px;
                    padding-inline: 10px;
                    text-align: center;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    overflow:hidden;
                    white-space:nowrap;
                }
                .price{
                    color: $icon-color;
                }
                &:hover{
                    background-color: $btn-color-2;
                }
            }
        }
        .owl-nav{
            text-align: left !important;
            padding-left: 80px;
            [class*=owl-]{
                background-color: initial !important;
                color: initial !important;
            }
            .owl-prev , .owl-next{
                background-color: transparent !important;
                border: 2px solid $icon-color !important;
                width: 60px !important;
                height: 60px !important;
                line-height: 60px !important;
                border-radius: 50% !important;
                -webkit-border-radius: 50% !important;
                -moz-border-radius: 50% !important;
                -ms-border-radius: 50% !important;
                -o-border-radius: 50% !important;
                text-align: center !important;
            }
            .owl-prev{
                margin-left: 15px !important;
                transform: rotate(180deg) !important;
                -webkit-transform: rotate(180deg) !important;
                -moz-transform: rotate(180deg) !important;
                -ms-transform: rotate(180deg) !important;
                -o-transform: rotate(180deg) !important;
                span{
                    content: url("../icons/Icon\ ionic-ios-arrow-forward-1.svg");
                }
            }
            .owl-next{
                span{
                    content: url("../icons/Icon\ ionic-ios-arrow-forward-1.svg");
                }
            }
        }
        .owl-dot{
            display: none !important;
        }
}
.app{
    background-color: $light-line;
    position: relative;
    .show-case{
        position: absolute;
        padding:100px 70px 0 0;
        .title{
            font-size: 22pt;
            color: $main-color;
            font-weight: 800;
            margin-bottom: 25px;
        }
        img{
            width: 200px;
        }
    }
    .image{
        position: relative;
        right: 10%;
        width: 90%;
        bottom: -10px;
        img{
            width: 100%;
        }
    }
}
.footer{
    position: relative;
    background-image: url("../img/footer\ bg.png");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .row{
        padding: 100px 100px 200px 100px ;
        .logo{
            width: 200px;
            margin-bottom: 30px;
            img{
                width: 100%;
            }
        }
        .explanation{
            .text{
                color: $white;
                font-size:17pt;
            }
        }
        .items{
            list-style: none;
            margin-top: 30px;
            .item{
                .link{
                    text-decoration: none;
                    color: $white;
                    font-size: 17pt;
                    transition: all 300ms ease;
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    -ms-transition: all 300ms ease;
                    -o-transition: all 300ms ease;
                    &:hover{
                        filter: brightness(90%);
                        -webkit-filter: brightness(90%);
                    }
                }
            }
            .item + .item{
                margin-top: 22pt;
            }
            .custom-item{
                span{
                    color: $white;
                }
            }
            .custom-item + .custom-item{
                margin-top: 5pt;
            }
        }
        .contact{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            .title{
                margin-bottom: 20px;
                font-size: 16pt;
                margin-right: 15pt;
                color: $btn-color-1;
                width: 100%;
                font-weight: bold;
            }
            .custom-items{
                padding-right: 0;
                text-align: end;
                span{
                    font-size: 14pt;
                }
            }
        }
    }
    .copyright{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-color;
        background-color: $white;
        font-size: 15pt;
        height: 40px;
        margin-bottom: 0;
        .copy{
            font-size: 25pt;
        }
        .year{
            font-size: 15pt;
            margin-inline: 10px;
        }
    }
}
