@font-face {
  font-family: Tajawal;
  src: url("../fonts/Tajawal/Tajawal-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  font-family: Tajawal , sans-serif !important;
  background-color: #ffffff !important;
  font-size: 16pt !important;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

.header .navbar .navbar-collapse .sub-nav .nav-item.active .nav-link {
  color: #f2ae1b;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown, .header .navbar .navbar-collapse .min-nav .others .login .dropdown {
  position: relative;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .text-lang, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .text-lang {
  color: #25408f;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-menu, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-menu {
  top: 33px;
  position: absolute;
  min-width: 11rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 16pt;
  border: none;
  -webkit-box-shadow: 0 0 5px #b0b7cc;
          box-shadow: 0 0 5px #b0b7cc;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item {
  text-align: center;
  font-size: 16pt;
  padding-block: 15px;
  margin-top: 10px;
  color: #25408f;
  width: 92%;
  margin-inline: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item:hover, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item:hover {
  background-color: #f3f6ff;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1 {
  position: relative;
  margin-bottom: 30px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1::after, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1::after {
  position: absolute;
  top: 78px;
  left: 16px;
  content: "";
  background-color: #d3dcf8;
  width: 80%;
  height: 1px;
}

.sections .title, .best-seller .title {
  position: relative;
  font-size: 25pt;
  font-weight: bold;
  color: #25408f;
  margin-bottom: 50px;
}

.sections .title::after, .best-seller .title::after {
  position: absolute;
  content: "";
  background-color: #d3dcf8;
  height: 1px;
  width: 85%;
  bottom: 12px;
  right: 9%;
}

.t-c .show-case, .signin .show-case {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px #d3dcf8;
          box-shadow: 0 0 5px #d3dcf8;
  width: 950px;
  padding: 100px 0 100px 80px;
  margin: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.t-c {
  background-color: #f3f6ff;
  padding: 70px;
}

.t-c .branch {
  margin-bottom: 50px;
}

.t-c .branch a {
  color: #25408f;
  font-size: 14pt;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.t-c .branch a:hover {
  color: #0f0057;
}

.t-c .branch a + a {
  margin-right: 30px;
  position: relative;
}

.t-c .branch a + a::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #25408f;
  top: 8px;
  left: 145px;
}

.t-c .show-case .logo {
  position: relative;
  width: 200px;
  margin-right: auto;
  margin-bottom: 50px;
}

.t-c .show-case .logo img {
  width: 100%;
}

.t-c .show-case .logo::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 30px;
  width: 385%;
  height: 2px;
  background-color: #f3f6ff;
}

.t-c .show-case .textes {
  text-align: center;
  color: #25408f;
  padding: 0 100px 0 20px;
  font-size: 15pt;
}

@font-face {
  font-family: Tajawal;
  src: url("../fonts/Tajawal/Tajawal-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  font-family: Tajawal , sans-serif !important;
  background-color: #ffffff !important;
  font-size: 16pt !important;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

.header .navbar .navbar-collapse .sub-nav .nav-item.active .nav-link {
  color: #f2ae1b;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown, .header .navbar .navbar-collapse .min-nav .others .login .dropdown {
  position: relative;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .text-lang, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .text-lang {
  color: #25408f;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-menu, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-menu {
  top: 33px;
  position: absolute;
  min-width: 11rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 16pt;
  border: none;
  -webkit-box-shadow: 0 0 5px #b0b7cc;
          box-shadow: 0 0 5px #b0b7cc;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item {
  text-align: center;
  font-size: 16pt;
  padding-block: 15px;
  margin-top: 10px;
  color: #25408f;
  width: 92%;
  margin-inline: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item:hover, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item:hover {
  background-color: #f3f6ff;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1 {
  position: relative;
  margin-bottom: 30px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1::after, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1::after {
  position: absolute;
  top: 78px;
  left: 16px;
  content: "";
  background-color: #d3dcf8;
  width: 80%;
  height: 1px;
}

.sections .title, .best-seller .title {
  position: relative;
  font-size: 25pt;
  font-weight: bold;
  color: #25408f;
  margin-bottom: 50px;
}

.sections .title::after, .best-seller .title::after {
  position: absolute;
  content: "";
  background-color: #d3dcf8;
  height: 1px;
  width: 85%;
  bottom: 12px;
  right: 9%;
}

.t-c .show-case, .signin .show-case {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px #d3dcf8;
          box-shadow: 0 0 5px #d3dcf8;
  width: 950px;
  padding: 100px 0 100px 80px;
  margin: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.t-c.about-us .branch a + a::after {
  left: 74px;
}

@font-face {
  font-family: Tajawal;
  src: url("../fonts/Tajawal/Tajawal-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  font-family: Tajawal , sans-serif !important;
  background-color: #ffffff !important;
  font-size: 16pt !important;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

.header .navbar .navbar-collapse .sub-nav .nav-item.active .nav-link {
  color: #f2ae1b;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown, .header .navbar .navbar-collapse .min-nav .others .login .dropdown {
  position: relative;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .text-lang, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .text-lang {
  color: #25408f;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-menu, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-menu {
  top: 33px;
  position: absolute;
  min-width: 11rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 16pt;
  border: none;
  -webkit-box-shadow: 0 0 5px #b0b7cc;
          box-shadow: 0 0 5px #b0b7cc;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item {
  text-align: center;
  font-size: 16pt;
  padding-block: 15px;
  margin-top: 10px;
  color: #25408f;
  width: 92%;
  margin-inline: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item:hover, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item:hover {
  background-color: #f3f6ff;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1 {
  position: relative;
  margin-bottom: 30px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1::after, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1::after {
  position: absolute;
  top: 78px;
  left: 16px;
  content: "";
  background-color: #d3dcf8;
  width: 80%;
  height: 1px;
}

.sections .title, .best-seller .title {
  position: relative;
  font-size: 25pt;
  font-weight: bold;
  color: #25408f;
  margin-bottom: 50px;
}

.sections .title::after, .best-seller .title::after {
  position: absolute;
  content: "";
  background-color: #d3dcf8;
  height: 1px;
  width: 85%;
  bottom: 12px;
  right: 9%;
}

.t-c .show-case, .signin .show-case {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px #d3dcf8;
          box-shadow: 0 0 5px #d3dcf8;
  width: 950px;
  padding: 100px 0 100px 80px;
  margin: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.errors {
  background-color: #f3f6ff;
  padding: 100px 100px 200px 100px;
}

.errors .show-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.errors .show-case .alert {
  color: #25408f;
  font-weight: bold;
  padding-left: 0;
  padding-right: 5rem;
  font-size: 18pt;
  margin-bottom: 30px;
}

.errors .show-case .image {
  width: 380px;
}

.errors .show-case .image img {
  width: 100%;
}

@font-face {
  font-family: Tajawal;
  src: url("../fonts/Tajawal/Tajawal-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  font-family: Tajawal , sans-serif !important;
  background-color: #ffffff !important;
  font-size: 16pt !important;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

.header .navbar .navbar-collapse .sub-nav .nav-item.active .nav-link {
  color: #f2ae1b;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown, .header .navbar .navbar-collapse .min-nav .others .login .dropdown {
  position: relative;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .text-lang, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .text-lang {
  color: #25408f;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-menu, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-menu {
  top: 33px;
  position: absolute;
  min-width: 11rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 16pt;
  border: none;
  -webkit-box-shadow: 0 0 5px #b0b7cc;
          box-shadow: 0 0 5px #b0b7cc;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item {
  text-align: center;
  font-size: 16pt;
  padding-block: 15px;
  margin-top: 10px;
  color: #25408f;
  width: 92%;
  margin-inline: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item:hover, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item:hover {
  background-color: #f3f6ff;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1 {
  position: relative;
  margin-bottom: 30px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1::after, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1::after {
  position: absolute;
  top: 78px;
  left: 16px;
  content: "";
  background-color: #d3dcf8;
  width: 80%;
  height: 1px;
}

.sections .title, .best-seller .title {
  position: relative;
  font-size: 25pt;
  font-weight: bold;
  color: #25408f;
  margin-bottom: 50px;
}

.sections .title::after, .best-seller .title::after {
  position: absolute;
  content: "";
  background-color: #d3dcf8;
  height: 1px;
  width: 85%;
  bottom: 12px;
  right: 9%;
}

.t-c .show-case, .signin .show-case {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px #d3dcf8;
          box-shadow: 0 0 5px #d3dcf8;
  width: 950px;
  padding: 100px 0 100px 80px;
  margin: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.signin {
  background-color: #f3f6ff;
  padding: 70px;
}

.signin .show-case {
  padding: 50px 100px !important;
  width: 700px !important;
}

.signin .show-case .title {
  text-align: center;
  font-size: 17pt;
  color: #25408f;
  font-weight: bold;
  margin-bottom: 50px;
}

.signin .show-case .title .alert {
  margin-bottom: 8px;
  padding-bottom: 0;
  margin-right: 35px;
}

.signin .show-case .title .sub-title {
  font-size: 12pt;
  font-weight: normal;
}

.signin .show-case .form-group {
  position: relative;
}

.signin .show-case .form-group .flag {
  position: absolute;
  margin-left: 10px;
  top: 3%;
  right: 5%;
}

.signin .show-case .form-group .info {
  border: none;
  position: absolute;
  top: 3%;
  background-color: transparent;
  right: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
}

.signin .show-case .form-group .info .entery-code {
  color: #0f0057;
  font-weight: bold;
}

.signin .show-case .form-group .info:focus {
  outline: none;
}

.signin .show-case .form-group .form-control {
  padding: 15px 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f3f6ff;
  border: 1px solid #d3dcf8;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.signin .show-case .form-group .form-control::-webkit-input-placeholder {
  color: #d3dcf8;
}

.signin .show-case .form-group .form-control:-ms-input-placeholder {
  color: #d3dcf8;
}

.signin .show-case .form-group .form-control::-ms-input-placeholder {
  color: #d3dcf8;
}

.signin .show-case .form-group .form-control::placeholder {
  color: #d3dcf8;
}

.signin .show-case .form-group .form-control:first-of-type {
  padding-right: 140px;
}

.signin .show-case .form-group .form-control + .form-control {
  margin-top: 20px;
}

.signin .show-case .form-group .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.signin .show-case .form-group .buttons .btn {
  width: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-block: 10px !important;
  font-size: 18pt !important;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px #b0b7cc;
          box-shadow: 0 0 5px #b0b7cc;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.signin .show-case .form-group .buttons .btn:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.signin .show-case .form-group .buttons .btn + .btn {
  margin-top: 20px;
}

.signin .show-case .form-group .buttons .log {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2ae1b), to(#d89402));
  background-image: linear-gradient(#f2ae1b, #d89402);
  color: #ffffff;
}

.signin .show-case .form-group .buttons .visitor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25408f), to(#0f0057));
  background-image: linear-gradient(#25408f, #0f0057);
  color: #ffffff;
}

.signin .show-case .form-group .buttons .no-account {
  font-size: 15pt !important;
  font-weight: normal;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #25408f;
}

@font-face {
  font-family: Tajawal;
  src: url("../fonts/Tajawal/Tajawal-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  font-family: Tajawal , sans-serif !important;
  background-color: #ffffff !important;
  font-size: 16pt !important;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

.header .navbar .navbar-collapse .sub-nav .nav-item.active .nav-link {
  color: #f2ae1b;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown, .header .navbar .navbar-collapse .min-nav .others .login .dropdown {
  position: relative;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .text-lang, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .text-lang {
  color: #25408f;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-menu, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-menu {
  top: 33px;
  position: absolute;
  min-width: 11rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 16pt;
  border: none;
  -webkit-box-shadow: 0 0 5px #b0b7cc;
          box-shadow: 0 0 5px #b0b7cc;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item {
  text-align: center;
  font-size: 16pt;
  padding-block: 15px;
  margin-top: 10px;
  color: #25408f;
  width: 92%;
  margin-inline: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-item:hover, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-item:hover {
  background-color: #f3f6ff;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1 {
  position: relative;
  margin-bottom: 30px;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .drop-1::after, .header .navbar .navbar-collapse .min-nav .others .login .dropdown .drop-1::after {
  position: absolute;
  top: 78px;
  left: 16px;
  content: "";
  background-color: #d3dcf8;
  width: 80%;
  height: 1px;
}

.sections .title, .best-seller .title {
  position: relative;
  font-size: 25pt;
  font-weight: bold;
  color: #25408f;
  margin-bottom: 50px;
}

.sections .title::after, .best-seller .title::after {
  position: absolute;
  content: "";
  background-color: #d3dcf8;
  height: 1px;
  width: 85%;
  bottom: 12px;
  right: 9%;
}

.t-c .show-case, .signin .show-case {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px #d3dcf8;
          box-shadow: 0 0 5px #d3dcf8;
  width: 950px;
  padding: 100px 0 100px 80px;
  margin: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.header .info {
  padding-inline: 100px;
  background-color: #25408f;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #ffffff;
  font-size: 12pt;
}

.header .info span {
  margin-left: 5px;
}

.header .info .email {
  margin-left: 25px;
}

.header .navbar {
  display: block;
  padding-block: 0;
}

.header .navbar .navbar-collapse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .navbar .navbar-collapse .min-nav {
  position: relative;
  width: 100%;
  padding-inline: 70px;
  height: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header .navbar .navbar-collapse .min-nav .lang {
  text-align: right;
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown-toggle::after {
  border: none;
  content: url("../icons/Icon ionic-ios-arrow-forward.svg");
}

.header .navbar .navbar-collapse .min-nav .lang .dropdown .dropdown-menu {
  right: 80px;
}

.header .navbar .navbar-collapse .min-nav .navbar-brand {
  margin-left: 0;
  margin-right: 15px;
  text-align: center;
}

.header .navbar .navbar-collapse .min-nav .navbar-brand img {
  width: 50%;
}

.header .navbar .navbar-collapse .min-nav .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar .navbar-collapse .min-nav .others .login {
  margin-left: 10px;
}

.header .navbar .navbar-collapse .min-nav .others .login .dropdown-toggle::after {
  content: initial;
}

.header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-menu {
  right: -155px;
}

.header .navbar .navbar-collapse .min-nav .others .login .dropdown .dropdown-menu .dropdown-item {
  font-size: 15pt;
}

.header .navbar .navbar-collapse .min-nav::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f3f6ff;
  bottom: 0;
}

.header .navbar .navbar-collapse .sub-nav {
  width: 100%;
  padding-inline: 60px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .navbar-collapse .sub-nav .nav-item .nav-link {
  color: #25408f;
}

.header .navbar .navbar-collapse .sub-nav .nav-item:hover .nav-link {
  color: #0f0057;
}

.header #slider .carousel-inner {
  position: relative;
}

.header #slider .carousel-inner .carousel-item {
  position: relative;
}

.header #slider .carousel-inner .carousel-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 35%;
  right: 6%;
}

.header #slider .carousel-inner .carousel-item .overlay .text {
  color: #25408f;
  font-weight: bold;
  font-size: 25pt;
  width: 500px;
}

.header #slider .carousel-inner .button {
  position: absolute;
  top: 57%;
  right: 6%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2ae1b), to(#d89402));
  background-image: linear-gradient(#f2ae1b, #d89402);
  width: 300px;
  -webkit-box-shadow: inset 0 0 5px #d3dcf8;
          box-shadow: inset 0 0 5px #d3dcf8;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.header #slider .carousel-inner .button .btn {
  display: inherit;
  color: #ffffff;
  font-size: 20pt;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header #slider .carousel-inner .button:hover {
  filter: brightness(95%);
  -webkit-filter: brightness(95%);
}

.header #slider .carousel-control-prev {
  width: 25px;
  height: 25px;
  top: 50%;
  right: 2%;
  opacity: 1;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.header #slider .carousel-control-prev .icon {
  width: 100%;
  height: 100%;
}

.features {
  padding: 150px 100px 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(calc(100% / 3), 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .feature .image {
  background-color: #f3f6ff;
  border: 1px solid #d3dcf8;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.features .feature .image img {
  width: 65%;
}

.features .feature .title {
  color: #25408f;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.features .feature .text {
  color: #90a1d5;
  font-size: 12pt;
  padding-inline: 10px;
  padding-inline: 125px;
  text-align: center;
}

.sections {
  padding: 100px 50px;
}

.sections .title:after {
  right: 18%;
  width: 75%;
}

.sections .categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 0 20px;
}

.sections .categories .categ .image {
  position: relative;
}

.sections .categories .categ .image .overlay {
  position: absolute;
  width: 400px;
  font-size: 25pt;
  padding-inline: 40px;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sections .categories .categ .image .overlay-phone {
  top: 5%;
  background-color: #f2ae1b;
  color: #ffffff;
  height: 175px;
}

.sections .categories .categ .image .overlay-electronics {
  background-color: #ffffff;
  bottom: 5%;
  color: #25408f;
  height: 125px;
}

.sections .categories .categ .image .overlay-lap {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25408f), to(#0f0057));
  background-image: linear-gradient(#25408f, #0f0057);
  color: #ffffff;
  height: 300px;
  width: 330px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 50%;
  right: 25%;
}

.sections .categories .categ .image img {
  width: 100%;
}

.order {
  position: relative;
}

.order .show-case {
  position: absolute;
  padding: 70px 70px 0 0;
}

.order .show-case .title {
  position: relative;
  font-size: 25pt;
  font-weight: 800;
  z-index: 514;
  color: #25408f;
  margin-bottom: 15px;
}

.order .show-case .title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 10px;
  background-color: #f2ae1b;
  opacity: 0.7;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  bottom: 2px;
  right: -16px;
  z-index: -1;
  width: 176px;
  height: 10px;
}

.order .show-case .text {
  color: #25408f;
  font-size: 22pt;
}

.order .image {
  width: 100%;
}

.order .image img {
  width: 100%;
}

.order .image .over-phone {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.best-seller {
  padding: 70px 70px 150px 0;
}

.best-seller .title::after {
  right: 12%;
  width: 75%;
}

.best-seller .owl-stage-outer {
  height: 340px !important;
}

.best-seller .owl-carousel {
  position: relative !important;
}

.best-seller .owl-item {
  margin-left: 15px !important;
  margin-bottom: 100px;
}

.best-seller .owl-item img {
  width: 88% !important;
  min-height: 200px;
  max-height: 200px;
  margin-bottom: 12px;
}

.best-seller .owl-item .explanation {
  background-color: #f2ae1b;
  padding-block: 5px;
  width: 86%;
  min-height: 70px;
  max-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #b0b7cc;
          box-shadow: 0 0 5px #b0b7cc;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

.best-seller .owl-item .explanation .sub-title {
  font-size: 15pt;
  color: #ffffff;
  width: 100%;
  height: 30px;
  padding-inline: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.best-seller .owl-item .explanation .price {
  color: #0f0057;
}

.best-seller .owl-item .explanation:hover {
  background-color: #d89402;
}

.best-seller .owl-nav {
  text-align: left !important;
  padding-left: 80px;
}

.best-seller .owl-nav [class*=owl-] {
  background-color: initial !important;
  color: initial !important;
}

.best-seller .owl-nav .owl-prev, .best-seller .owl-nav .owl-next {
  background-color: transparent !important;
  border: 2px solid #0f0057 !important;
  width: 60px !important;
  height: 60px !important;
  line-height: 60px !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  text-align: center !important;
}

.best-seller .owl-nav .owl-prev {
  margin-left: 15px !important;
  transform: rotate(180deg) !important;
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
}

.best-seller .owl-nav .owl-prev span {
  content: url("../icons/Icon ionic-ios-arrow-forward-1.svg");
}

.best-seller .owl-nav .owl-next span {
  content: url("../icons/Icon ionic-ios-arrow-forward-1.svg");
}

.best-seller .owl-dot {
  display: none !important;
}

.app {
  background-color: #f3f6ff;
  position: relative;
}

.app .show-case {
  position: absolute;
  padding: 100px 70px 0 0;
}

.app .show-case .title {
  font-size: 22pt;
  color: #25408f;
  font-weight: 800;
  margin-bottom: 25px;
}

.app .show-case img {
  width: 200px;
}

.app .image {
  position: relative;
  right: 10%;
  width: 90%;
  bottom: -10px;
}

.app .image img {
  width: 100%;
}

.footer {
  position: relative;
  background-image: url("../img/footer bg.png");
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer .row {
  padding: 100px 100px 200px 100px;
}

.footer .row .logo {
  width: 200px;
  margin-bottom: 30px;
}

.footer .row .logo img {
  width: 100%;
}

.footer .row .explanation .text {
  color: #ffffff;
  font-size: 17pt;
}

.footer .row .items {
  list-style: none;
  margin-top: 30px;
}

.footer .row .items .item .link {
  text-decoration: none;
  color: #ffffff;
  font-size: 17pt;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.footer .row .items .item .link:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.footer .row .items .item + .item {
  margin-top: 22pt;
}

.footer .row .items .custom-item span {
  color: #ffffff;
}

.footer .row .items .custom-item + .custom-item {
  margin-top: 5pt;
}

.footer .row .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .row .contact .title {
  margin-bottom: 20px;
  font-size: 16pt;
  margin-right: 15pt;
  color: #f2ae1b;
  width: 100%;
  font-weight: bold;
}

.footer .row .contact .custom-items {
  padding-right: 0;
  text-align: end;
}

.footer .row .contact .custom-items span {
  font-size: 14pt;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #25408f;
  background-color: #ffffff;
  font-size: 15pt;
  height: 40px;
  margin-bottom: 0;
}

.footer .copyright .copy {
  font-size: 25pt;
}

.footer .copyright .year {
  font-size: 15pt;
  margin-inline: 10px;
}
/*# sourceMappingURL=style.css.map */