@import "./t_c" ; 
@import "./about-us" ; 
@import "./errors" ; 
@import "./login" ; 
@import "./create-account" ;
@import "./change-password" ; 
@import "./otp" ; 
@import "./new-password" ; 
@import "./profile" ; 
@import "./info" ; 
@import "./orders" ; 
@import "./process-orders" ;
@import "./cart" ;
@import "./products" ;
@import "./info-product" ; 
@import "./vars" ;

.header{
    .info{
        padding-inline: 100px;
        background-color: $main-color;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: end;
        color: $white;
        font-size: 12pt;
        span{
            margin-left: 5px;
        }
        .email{
            margin-left: 25px;
        }
    }
    .navbar{
        display: block;
        padding-block: 0;
        .navbar-collapse{
            flex-direction: column;
            .min-nav{
                position: relative;
                width: 100%;
                padding-inline: 70px;
                height: 90px;
                display: grid;
                grid-template-columns: repeat(auto-fill , minmax(calc(100% / 3) , 1fr));
                align-items: baseline;
                .lang{
                    text-align: right;
                    .dropdown-toggle{
                        &::after{
                            border: none;
                            content: url("../icons/Icon\ ionic-ios-arrow-forward.svg");
                        }
                    }
                    .dropdown{
                        @extend %drop ; 
                        .dropdown-menu{
                            right: 80px;
                        }
                    }
                }
                .navbar-brand{
                    margin-left: 0;
                    margin-right: 15px;
                    text-align: center;
                    img{
                        width: 55%;
                        height: 80px;
                    }
                }
                .others{
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-end;
                    .login{
                        margin-left: 10px;
                        .dropdown-toggle{
                            &::after{
                                content: initial;
                            }
                        }
                        .dropdown{
                            @extend %drop ; 
                            .dropdown-menu{
                                right: -155px;
                                .dropdown-item{
                                    font-size: 15pt;
                                }
                            }
                        }
                    }
                }
                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $light-line;
                    bottom: 0;
                }
            }
            .sub-nav{
                width: 100%;
                padding-inline: 60px;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .nav-item{
                    .nav-link{
                        color: $main-color;
                    }
                    &:hover{
                        .nav-link{
                            color: $icon-color;
                        }
                    }
                }
            }
        }
    }
    #slider{
        .carousel-inner{
            position: relative;
            .carousel-item{
                position: relative;
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 35%;
                    right: 6%;
                    .text{
                        color: $main-color;
                        font-weight: bold;
                        font-size: 25pt;
                        width: 500px;
                    }
                }
            }
            .button{
                position: absolute;
                top: 57%;
                right: 6%;
                background-image: linear-gradient($btn-color-1 , $btn-color-2) ;
                width: 300px;
                box-shadow: inset 0 0 5px $bg-color;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                transition: all 300ms ease;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                .btn{
                    display: inherit;
                    color: $white;
                    font-size: 20pt;
                    box-shadow: none;
                }
                &:hover{
                    filter: brightness(95%);
                    -webkit-filter: brightness(95%);
                }
            }
        }
        .carousel-control-prev{
            width: 25px;
            height: 25px;
            top: 50%;
            right: 2%;
            opacity: 1;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            .icon{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.features{
    padding: 150px 100px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(calc(100% / 3) , 1fr));
    align-items: center;
    justify-content: center;
    .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image{
            background-color: $light-line;
            border: 1px solid $bg-color;
            width: 200px;
            height: 200px;
            line-height: 200px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            text-align: center;
            margin-bottom: 20px;
            img{
                width: 65%;
            }
        }
        .title{
            color: $main-color;
            font-size: 15pt;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .text{
            color: $feature-color;
            font-size: 12pt;
            padding-inline: 10px;
            padding-inline: 130px;
            text-align: center;
        }
    }
}
.sections{
    padding: 100px 50px 150px; 
    .title{
        @extend %title ; 
        &:after{
            right: 18%;
            width: 75%;
        }
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(calc(100% / 4) , 1fr));
        gap: 0 20px;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 2px solid $bg-color;
            padding: 8px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            .image{
                padding: 50px;
                height: 450px;
                background-color: $light-line;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 90%;
                }
            }
            .card-body{
                text-align: center;
                background-color: $white;
                color: $main-color;
                font-weight: bold;
                font-size: 20pt;
                padding: 16px 95px;
            }
        }
        .card:nth-child(2) , .card:nth-child(3){
            .image{
                img{
                    width: 160%;
                }
            }
        }
    }
}
.order{
    position: relative;
    .show-case{
        position: absolute;
        padding: 70px 70px 0 0;
        .title{
            position: relative;
            font-size: 25pt;
            font-weight: 800;
            z-index: 514;
            color: $main-color;
            margin-bottom: 15px;
            &::after{
                position: absolute;
                content: "";
                width: 100px;
                height: 10px;
                background-color: $btn-color-1;
                opacity: 0.7;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                bottom: 2px;
                right: -16px;
                z-index: -1;
                width: 176px;
                height: 10px;
            }
        }
        .text{
            color: $main-color;
            font-size: 22pt;
        }
    }
    .image{
        width: 100%;
        img{
            width: 100%;
        }
        .over-phone{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.best-seller{
    padding: 70px 70px 150px 0;
    .title{
        @extend %title ; 
        &::after{
            right: 12%;
            width: 75%;
        }
    }
    .owl-stage-outer{
        height: 340px !important;
    }
    .owl-carousel{
        position: relative !important ; 
    }
    .owl-item{
        margin-left: 15px !important;
        margin-bottom: 100px;
        img{
            width: 88% !important;
            min-height: 200px;
            max-height: 200px;
            margin-bottom: 12px;
        }
        .explanation{
            background-color: $btn-color-1;
            padding-block: 5px;
            width: 86%;
            min-height: 70px;
            max-height: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            box-shadow:  0 0 5px $icon-color-2;
            transition: all 200ms ease;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            .sub-title{
                font-size: 15pt;
                color: $white;
                width:100%;
                height:30px;
                padding-inline: 10px;
                text-align: center;
                overflow:hidden;
                text-overflow:ellipsis;
                overflow:hidden;
                white-space:nowrap;
            }
            .price{
                color: $icon-color;
            }
            &:hover{
                background-color: $btn-color-2;
            }
        }
    }
    .owl-nav{
        text-align: left !important;
        padding-left: 80px;
        [class*=owl-]{
            background-color: initial !important;
            color: initial !important;
        }
        .owl-prev , .owl-next{
            background-color: transparent !important;
            border: 2px solid $icon-color !important;
            width: 60px !important;
            height: 60px !important;
            line-height: 60px !important;
            border-radius: 50% !important;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            -ms-border-radius: 50% !important;
            -o-border-radius: 50% !important;
            text-align: center !important;
        }
        .owl-prev{
            margin-left: 15px !important;
            transform: rotate(180deg) !important;
            -webkit-transform: rotate(180deg) !important;
            -moz-transform: rotate(180deg) !important;
            -ms-transform: rotate(180deg) !important;
            -o-transform: rotate(180deg) !important;
            span{
                content: url("../icons/Icon\ ionic-ios-arrow-forward-1.svg");
            }
        }
        .owl-next{
            span{
                content: url("../icons/Icon\ ionic-ios-arrow-forward-1.svg");
            }
        }
    }
    .owl-dot{
        display: none !important;
    }
}
.app{
    background-color: $light-line;
    position: relative;
    .show-case{
        position: absolute;
        padding:100px 70px 0 0;
        .title{
            font-size: 22pt;
            color: $main-color;
            font-weight: 800;
            margin-bottom: 25px;
        }
        img{
            width: 200px;
        }
    }
    .image{
        position: relative;
        right: 10%;
        width: 90%;
        bottom: -10px;
        img{
            width: 100%;
        }
    }
}
.footer{
    position: relative;
    background-image: url("../img/footer\ bg.png");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .row{
        padding: 100px 100px 200px 100px ;
        .logo{
            width: 200px;
            margin-bottom: 30px;
            img{
                width: 100%;
            }
        }
        .explanation{
            .text{
                color: $white;
                font-size:17pt;
            }
        }
        .items{
            list-style: none;
            margin-top: 30px;
            .item{
                .link{
                    text-decoration: none;
                    color: $white;
                    font-size: 17pt;
                    transition: all 300ms ease;
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    -ms-transition: all 300ms ease;
                    -o-transition: all 300ms ease;
                    &:hover{
                        filter: brightness(90%);
                        -webkit-filter: brightness(90%);
                    }
                }
            }
            .item + .item{
                margin-top: 22pt;
            }
            .custom-item{
                span{
                    color: $white;
                }
            }
            .custom-item + .custom-item{
                margin-top: 5pt;
            }
        }
        .contact{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            .title{
                margin-bottom: 20px;
                font-size: 16pt;
                margin-right: 15pt;
                color: $btn-color-1;
                width: 100%;
                font-weight: bold;
            }
            .custom-items{
                padding-right: 0;
                text-align: end;
                span{
                    font-size: 14pt;
                }
            }
        }
    }
    .copyright{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-color;
        background-color: $white;
        font-size: 15pt;
        height: 40px;
        margin-bottom: 0;
        .copy{
            font-size: 25pt;
        }
        .year{
            font-size: 15pt;
            margin-inline: 10px;
        }
    }
}
#notifications{
    padding-left: 0 !important;
    .modal-dialog{
        margin-left: 50px ;
        margin-top: 50px;
        max-width: 50%;
    }
}
.modal-content{
    background-color: $white;
    padding: 50px 60px 0 0;
    height: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 5px $icon-color-2;
    border: none !important;
    .sub{
        color: $main-color;
        font-size: 15pt;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .btn{
        background-image: linear-gradient($btn-color-1 , $btn-color-2);
        color: $white;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        width: 90px;
        padding: 5px 10px;
        font-size: 18pt;
        &:focus{
            box-shadow: none;
        }
        &:hover{
            color: $white;
            filter: brightness(95%);
            -webkit-filter: brightness(95%);
        }
    }
    .btn:last-child{
        margin-right: 15px;
        background-image: linear-gradient($main-color , $icon-color);
    }
}
.modal-open{
    padding: 0 !important;
}


//responsive_design(rtl)

@media (max-width: 1399.98px) {
    .features{
        .feature{
            .text{
                padding-inline: 100px;
            }
        }
    } 
    .sections{
        .title{
            &::after{
                right: 19%;
            }
        }
        .categories{
            .card{
                .card-body{
                    padding: 16px 70px;
                }
            }
        }
    } 
    .best-seller{
        .title{
            &::after{
                right: 13%;
            }
        }
    }
}
@media (min-width: 1280px) and (max-width: 1281px){
    .features{
        .feature{
            .text{
                padding-inline: 85px;
            }
        }
    }
    .sections{
        .title{
            &::after{
                right: 21%;
            }
        }
        .categories{
            .card{
                .card-body{
                    padding: 16px 50px;
                }
            }
        }
    }
    .best-seller{
        .title{
            &::after{
                right: 14%;
            }
        }
    }
}
@media (max-width: 1199.98px) {
    .header{
        .navbar{
            .navbar-collapse{
                .min-nav{
                    .navbar-brand{
                        img{
                            height: 70px;
                        }
                    }
                }
            }
        }
        #slider{
            .carousel-inner{
                .button{
                    top: 60% ;
                }
            }
        }
    }    
    .features{
        .feature{
            .text{
                padding-inline: 70px;
            }
        }
    } 
    .sections{
        .title{
            &::after{
                right: 23%;
                width: 72%;
            }
        }
        .categories{
            .card{
                .image{
                    height: 400px;
                }
                .card-body{
                    padding: 16px 40px;
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1025px){
    .header{
        .navbar{
            .navbar-collapse{
                .min-nav{
                    height: 60px ;
                    .navbar-brand{
                        img{
                            height: 50px;
                        }
                    }
                }
            }
        }
        #slider{
            .carousel-inner{
                .button{
                    top: 63%;
                }
            }
        }
    }
    .features{
        .feature{
            .text{
                padding-inline: 40px ;
            }
        }
    }
    .sections{
        .title{
            &::after{
                right: 27% ;
                width: 70% ;
            }
        }
        .categories{
            .card{
                .card-body{
                    padding: 16px 10px ;
                }
            }
        }
    }
    .best-seller{
        .title{
            &::after{
                right: 18%;
                width: 72%;
            }
        }
    }
    .app{
        .show-case{
            padding: 50px 70px 0 0 ;
        }
        .image{
            bottom: 0 ;
        }
    }
    .footer{
        .row{
            .explanation{
                .text{
                    font-size: 14pt ;
                }
            }
            .items{
                .item{
                    .link{
                        font-size: 14pt;
                    }
                }
            }
        }
    }
}
@media (max-width: 991.98px) {
    .header{
        .navbar{
            .navbar-collapse{
                .min-nav{
                    height: 60px;
                    .navbar-brand{
                        img{
                            height: 50px;
                        }
                    }
                }
            }
        }
        #slider{
            .carousel-inner{
                .carousel-item{
                    .overlay{
                        .text{
                            font-size: 20pt;
                            padding-left: 100px;
                        }
                    }
                }
            }
        }
    }
    .features{
        .feature{
            .text{
                padding-inline: 40px;
            }
        }
    } 
    .sections{
        .title{
            &::after{
                right: 28%;
                width: 70%;
            }
        }
        .categories{
            .card{
                .image{
                    height: 300px;
                }
                .card-body{
                    padding: 16px 10px;
                }
            }
        }
    }
    .best-seller{
        padding: 70px 0px 150px 0;
        .title{
            padding-right: 50px;
            &::after{
                right: 22%;
                width: 70%;
            }
        }
        .product{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 50% !important;
            }
            .explanation{
                width: 60%;
            }
        }
    }
    .app{
        .image{
            width: 80%;
            right: 20%;
            bottom: 0;
        }
        .show-case{
            padding: 50px 70px 0 0;
        }
    }
    .footer{
        .row{
            .contact{
                .title{
                    margin-bottom: 0;
                }
            }
            .explanation{
                .text{
                    font-size: 14pt;
                }
            }
            .items{
                .item{
                    .link{
                        font-size: 14pt;
                    }
                }
            }
        }
    }
    #notifications{
        .modal-dialog{
            max-width: 80%;
        }
    }
}
@media (min-width: 820px) and (max-width: 913px){
    .features{
        .feature{
            .image{
                width: 150px;
                height: 150px;
                line-height: 150px;
                img{
                    width: 50%;
                }
            }
            .text{
                padding-inline: 14px ;
            }
        }
    }
    .sections{
        .categories{
            .card{
                .image{
                    img{
                        width: 100%;
                    }
                }
                .card-body{
                    // font-size: 17pt ;
                    font-size: 15pt ;
                }
            }
            .card.card:nth-child(2) , .card:nth-child(3){
                .image{
                    img{
                        width: 200% ;
                    }
                }
            }
        }
    }
    .order{
        .show-case{
            .text{
                font-size: 20pt ;
            }
        }
    }
    .app{
        .show-case{
            .title{
                font-size: 20pt ;
            }
            img{
                width: 130px ;
            }
        }
    }
    .footer{
        .row{
            .explanation{
                .text{
                    font-size: 11pt ;
                }
            }
        }
    }
}
@media (max-width: 768.98px) {
    .header{
        .navbar{
            .navbar-collapse{
                .min-nav{
                    .navbar-brand{
                        img{
                            width: 85%;
                        }
                    }
                }
                .sub-nav{
                    padding-inline: 30px;
                }
            }
        }
        #slider{
            .carousel-inner{
                .carousel-item{
                    .overlay{
                        .text{
                            font-size: 16pt;
                            padding-left: 170px;
                        }
                    }
                }
                .button{
                    top: 70%;
                    width: 230px;
                }
            }
            .carousel-control-prev{
                width: 18px;
                height: 18px;
                top: 42%;
            }
        }
    }
    .features{
        padding: 130px 25px 70px ;
        .feature{
            .text{
                padding-inline: 25px;
            }
            .image{
                width: 180px;
                height: 180px;
                line-height: 180px;
                img{
                    width: 50%;
                }
            }
        }
    }
    .sections{
        .title{
            &::after{
                right: 37%;
                width: 60%;
            }
        }
        .categories{
            grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
            gap: 20px 20px;
        }
    }
    .order{
        .show-case{
            padding: 70px 40px 0 0;
            .title{
                font-size: 20pt;
            }
            .text{
                font-size: 18pt;
            }
        }
    }
    .best-seller{
        .title{
            &::after{
                right: 28%;
                width: 65%;
            }
        }
    }
    .app{
        padding-top: 50px;
        .show-case{
            padding-top: 0;
            img{
                width: 170px;
            }
            .title{
                font-size: 20pt;
            }
        }
        .image{
            width: 85%;
            right: 20%;
            bottom: 0px;
        }
    }
    .footer{
        .row{
            padding-inline: 50px;
            .explanation{
                .text{
                    font-size: 12pt;
                }
            }
            .items{
                .item{
                    font-size: 13pt;
                }
                .item + .item{
                    margin-top: 17pt;
                }
            }
        }
    }
}
@media (max-width: 575.98px) {
    .header{
        .info{
            padding-inline: 40px;
        }
        .navbar{
            .navbar-collapse{
                .min-nav{
                    padding-inline: 40px;
                    .navbar-brand{
                        img{
                            width: 100%;
                            height: 45px;
                        }
                    }
                }
                .sub-nav{
                    .nav-item{
                        .nav-link{
                            font-size: 12pt;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        #slider{
            .carousel-inner{
                .carousel-item{
                    .overlay{
                        top: 25%;
                        .text{
                            font-size: 14pt;
                            padding-left: 250px;
                        }
                    }
                }
                .button{
                    top: 58%;
                    width: 180px;
                    .btn{
                        font-size: 15pt;
                    }
                }
            }
            .carousel-control-prev{
                right: 1%;
            }
        }
    }
    .features{
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 2), 1fr));
        gap: 40px 20px;
        .feature{
            .image{
                width: 200px;
                height: 200px;
                line-height: 200px;
                img{
                    width: 75%;
                }
            }
            .text{
                padding-inline: 160px;
            }
        }
    }
    .sections{
        .title{
            font-size: 20pt;
            &::after{
                right: 42%;
                width: 58%;
            }
        }
        .categories{
            grid-template-columns: repeat(auto-fill, minmax(calc(100% / 2), 1fr));
            .card{
                .image{
                    img{
                        width: 67% ;
                    }
                }
            }
        }
    }
    .order{
        .show-case{
            padding: 40px 25px 0 0;
            .text{
                font-size: 15pt;
            }
        }
    }
    .best-seller{
        .title{
            font-size: 20pt;
            &::after{
                right: 32%;
                width: 60%;
            }
        }
    }
    .app{
        .show-case{
            .title{
                font-size: 16pt;
                margin-bottom: 17px;
            }
            img{
                width: 120px;
            }
        }
    }
    .footer{
        .row{
            padding-inline: 20px;
            .items{
                margin-inline: auto;
                .item + .item{
                    margin-top: 0 ;
                    margin-right: 25px;
                }
            }
            .col-sm-4{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .explanation{
                    text-align: center;
                }
            }
            .col-sm-4:nth-child(3){
                margin-block: 25px;
                .contact{
                    .title{
                        text-align: center;
                        margin-right: 0;
                    }
                    .custom-items{
                        display: flex;
                        align-items: baseline;
                        justify-content: center;
                    }
                }
            }
            .col-sm-4:nth-child(2){
                .items{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding-right: 0;
                }
            }
        }
    }
    #notifications{
        .modal-dialog{
            max-width: 85%;
        }
    }
}
@media (min-width: 375px) and (max-width: 415px){
    .header{
        .info{
            .email{
                margin-left: 10px;
            }
        }
        .navbar{
            .navbar-collapse{
                .min-nav{
                    padding-inline: 10px;
                    height: 55px;
                    .navbar-brand{
                        img{
                            height: 35px;
                        }
                    }
                }
                .sub-nav{
                    padding-inline: 2px;
                    .nav-item{
                        .nav-link{
                            font-size: 10pt ;
                        }
                    }
                }
            }
        }
        #slider{
            .carousel-inner{
                .carousel-item{
                    .overlay{
                        .text{
                            font-size: 10pt ;
                            padding-left: 320px ;
                        }
                    }
                }
                .button{
                    top: 55%;
                    width: 120px;
                    .btn{
                        font-size: 11pt ;
                    }
                }
            }
        }
    }
    .features{
        .feature{
            .text{
                padding-inline: 90px;
            }
        }
    }
    .sections{
        .title{
            text-align: center;
            font-size: 25pt;
            &::after{
                content: initial;
            }
        }
        .categories{
            .card{
                .card-body{
                    font-size: 16pt;
                }
            }
        }
    }
    .best-seller{
        .title{
            text-align: center;
            padding: 0;
            font-size: 25pt;
            &::after{
                content: initial;
            }
        }
        .owl-nav{
            padding: 0;
            text-align: center !important;
        }
    }
    .order{
        .show-case{
            .title{
                font-size: 15pt ;
                margin-bottom: 5px;
                &::after{
                    width: 145px;
                    height: 6px;
                }
            }
            .text{
                font-size: 10pt;
            }
        }
    }
    .app{
        .show-case{
            padding-right: 30px;
            img{
            width: 75px !important;
            }
            .title{
                font-size: 10pt;
                margin-bottom: 10px;
            }
            img{
                width: 90px;
            }
        }
    }
    .footer{
        .row{
            .contact{
                .custom-items{
                    span{
                        font-size: 12pt;
                    }
                }
            }
        }
    }
    #notifications{
        .modal-content{
            padding: 30px 25px 0 0 !important;
            height: 175px;
            .sub{
                font-size: 13pt ;
            }
        }
    }
}
@media (min-width: 280px) and (max-width: 360px){
    .header{
        .info{
            font-size: 8pt ;
            justify-content: center;
            padding: 0;
            .email{
                margin-left: 10px;
            }
        }
        .navbar{
            .navbar-collapse{
                .min-nav{
                    padding-inline: 5px;
                    height: 45px;
                    .navbar-brand{
                        margin-right: 0;
                        img{
                            height: 30px;
                        }
                    }
                    .lang{
                        .dropdown{
                            .dropdown-menu{
                                right: 30px;
                                min-width: 9rem;
                            }
                            .dropdown-item{
                                font-size: 14pt;
                            }
                            .nav-link{
                                font-size: 12pt ;
                            }
                        }
                    }
                    .others{
                        .login{
                            margin-left: 0;
                            .dropdown{
                                .dropdown-menu{
                                    min-width: 9rem ;
                                    right: -110px ;
                                    .dropdown-item{
                                        font-size: 12pt;
                                    }
                                }
                                .nav-link{
                                    img{
                                        width: 95%;
                                    }
                                }
                            }
                        }
                        .cart{
                            a{
                                img{
                                    width: 85%;
                                }
                            }
                        }
                    }
                }
                .sub-nav{
                    padding-inline: 2px;
                    .nav-item{
                        .nav-link{
                            font-size: 8pt ;
                            padding-inline: 0.5rem;
                        }
                    }
                }
            }
        }
        #slider{
            .carousel-inner{
                .carousel-item{
                    .overlay{
                        .text{
                            font-size: 8pt ;
                            padding-left: 360px ;
                        }
                    }
                }
                .button{
                    top: 55%;
                    width: 90px;
                    .btn{
                        font-size: 8pt ;
                    }
                }
            }
            .carousel-control-prev{
                width: 10px;
                height: 10px;
            }
        }
    }
    .features{
        .feature{
            .image{
                width: 100px;
                height: 100px;
                line-height: 100px;
                img{
                    width: 45% ;
                }
            }
            .text{
                padding-inline: 24px;
            }
        }
    }
    .sections{
        .title{
            text-align: center;
            font-size: 20pt;
            &::after{
                content: initial;
            }
        }
        padding-inline: 5px; 
        .categories{
            .card{
                .image{
                    img{
                        width: 110% ;
                    }
                }
                .card-body{
                    font-size: 16pt;
                }
            }
            .card.card:nth-child(2) , .card:nth-child(3){
                .image{
                    img{
                        width: 200% ;
                    }
                }
            }
        }
    }
    .best-seller{
        .title{
            text-align: center;
            padding: 0;
            font-size: 20pt;
            &::after{
                content: initial;
            }
        }
        .owl-nav{
            padding: 0;
            text-align: center !important;
        }
    }
    .order{
        .show-case{
            padding: 12px 25px 0 0;
            .title{
                font-size: 12pt ;
                margin-bottom: 5px;
                &::after{
                    width: 118px;
                    height: 5px;
                }
            }
            .text{
                font-size: 7pt;
                font-weight: bold;
            }
        }
    }
    .app{
        .show-case{
            padding-right: 30px;
            img{
            width: 55px !important;
            }
            .title{
                font-size: 9pt;
                margin-bottom: 7px;
            }
            img{
                width: 90px;
            }
        }
    }
    .footer{
        .row{
            padding-inline: 7px;
            .contact{
                .custom-items{
                    span{
                        font-size: 10pt;
                    }
                }
            }
            .items{
                .item{
                    .link{
                        font-size: 10pt;
                    }
                }
            }
        }
    }
    #notifications{
        .modal-content{
            width: 114% ;
            padding: 30px 25px 0 0 !important;
            height: 175px;
            .sub{
                font-size: 12pt ;
            }
            .btn{
                width: 80px ;
                font-size: 15pt ;
            }
        }
    }
}


//ltr 
html[dir = "ltr"]{
    .header{
        .info{
            span{
                margin-right: 5px;
                margin-left: 0;
            }
            .email{
                margin-right: 25px;
                margin-left: 0;
            }
        }
        .navbar{
            .min-nav{
                .lang{
                    text-align: left;
                    .dropdown-toggle{
                        &::after{
                            margin-left: 0.255em;
                            margin-right: 0;
                        }
                    }
                    .dropdown{
                        .dropdown-menu{
                            left: 80px;
                            right: initial;
                        }
                    }
                }
                .navbar-brand{
                    margin-left: 15px;
                    margin-right: 0;
                }
                .others{
                    .login{
                        margin-right: 10px;
                        margin-left: 0;
                        .dropdown{
                            .dropdown-menu{
                                left: -155px;
                                right: initial;
                            }
                        }
                    }
                }
            }
        }
        #slider{
            .carousel-inner{
                .carousel-item{
                    .overlay{
                        left: 6%;
                        right: initial;
                    }
                }
                .carousel-item:first-child{
                    img{
                        content: url("../img/slider1\ en.png");
                    }
                }
                .carousel-item:nth-child(2){
                    img{
                        content: url("../img/slider2\ en.png");
                    }
                }
                .button{
                    left: 6%;
                    right: initial;
                }
            }
        }
    }
    .sections{
        .title{
            &::after{
                left: 18%;
                right: initial;
            }
        }
    }
    .order{
        .show-case{
            padding: 70px 0 0 70px;
            .title{
                &::after{
                    left: -16px;
                    right: initial;
                }
            }
        }
        .image{
            img{
                content: url("../img/order\ bg\ en.png");
            }
            .over-phone{
                right: 0;
                left: initial;
            }
        }
    }
    .best-seller{
        padding: 70px 0 150px 70px ;
        .title{
            &::after{
                left: 12%;
                right: initial;
            }
        }
        .owl-item{
            margin-right: 15px !important;
            margin-left: 0 !important;
        }
    }
    .app{
        .show-case{
            padding: 100px 0 0 70px;
        }
        .image{
            left: 10%;
            right: initial;
        }
    }
    .footer{
        .row{
            .contact{
                .title{
                    margin-left: 15pt ; 
                    margin-right: 0 ;
                }
                .custom-items{
                    padding-left: 0;
                    padding-right: 0;
                    text-align: start;
                }
            }
        }
    }
    #notifications{
        padding-right: 0 !important;
        padding-left: 0 !important;
        .modal-content{
            padding: 50px 0 0 60px ; 
            .btn:last-child{
                margin-left: 15px;
                margin-right: 0;
            }
        }
    }
}


//responsive_design(ltr)

@media (max-width: 1399.98px) {
    html[dir = "ltr"]{
        .sections{
            .title{
                &::after{
                    left: 19%;
                    right: initial;
                }
            }
        } 
        .best-seller{
            .title{
                &::after{
                    left: 13%;
                    right: initial;
                }
            }
        }
    }
}
@media (min-width: 1280px) and (max-width: 1281px){
    html[dir = "ltr"]{
        .sections{
            .title{
                &::after{
                    left: 21%  !important;
                    right: initial;
                }
            }
        }
        .best-seller{
            .title{
                &::after{
                    left: 14% ;
                    right: initial;
                }
            }
        }
    }
}
@media (max-width: 1199.98px){
    html[dir = "ltr"]{
        .sections{
            .title{
                &::after{
                    left: 23% ;
                    right: initial;
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1025px){
    html[dir = "ltr"]{
        .sections{
            .title{
                &::after{
                    right: initial ;
                    left: 27%;
                }
            }
        }
        .best-seller{
            .title{
                &::after{
                    left: 18% ;
                    right: initial;
                }
            }
        }
        .app{
            .show-case{
                padding-top: 50px  ;
            }
            .image{
                bottom: 0 ;
                left: 22% ;
            }
        }
    }
}
@media (max-width: 991.98px) {
    html[dir = "ltr"]{
        .header{
            #slider{
                .carousel-inner{
                    .carousel-item{
                        .overlay{
                            .text{
                                padding-left: 0;
                                padding-right: 100px;
                            }
                        }
                    }
                }
            }
        }
        .sections{
            .title{
                &::after{
                    right: initial;
                    left: 28%;
                }
            }
        }
        .best-seller{
            .title{
                padding-right: 0;
                padding-left: 50px;
                &::after{
                    right: initial;
                    left: 23%;
                }
            }
        }
        .app{
            .image{
                left: 27%;
                right: initial;
            }
            .show-case{
                padding: 50px 0 0 70px;
            }
        }
    }
}
@media (max-width: 768.98px){
    html[dir = "ltr"]{
        .header{
            #slider{
                .carousel-inner{
                    .carousel-item{
                        .overlay{
                            .text{
                                padding-right: 170px;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
        .sections{
            .title{
                &::after{
                    left: 37%;
                    right: initial;
                }
            }
        }
        .order{
            .show-case{
                padding: 70px 0 0 40px;
            }
        }
        .best-seller{
            padding: 70px 0 150px 50px;
            .title{
                padding-left: 0;
                &::after{
                    left: 24%;
                    right: initial;
                }
            }
        }
        .app{
            .show-case{
                padding-top: 0;
            }
            .image{
                left: 27%;
                right: initial;
            }
        }

    }
}
@media (max-width: 575.98px){
    html[dir = "ltr"]{
        .header{
            #slider{
                .carousel-inner{
                    .carousel-item{
                        .text{
                            padding-right: 250px;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        .sections{
            .title{
                &::after{
                    left: 42%;
                    right: initial;
                }
            }
        }
        .order{
            .show-case{
                padding: 40px 0 0 25px;
            }
        }
        .best-seller{
            .title{
                &::after{
                    left: 32%;
                    right: initial;
                }
            }
        }
        .footer{
            .row{
                .items{
                    .item + .item{
                        margin-left: 25px;
                        margin-right: 0;
                    }
                }
                .col-sm-4:nth-child(3){
                    .contact{
                        .title{
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
                .col-sm-4:nth-child(2){
                    .items{
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 375px) and (max-width: 415px){
    html[dir = "ltr"]{
        .header{
            .info{
                .email{
                    margin-right: 10px;
                    margin-left: 0;
                }
            }
            #slider{
                .carousel-inner{
                    .carousel-item{
                        .overlay{
                            .text{
                                padding-right: 320px ;
                                padding-left: 0 ;
                            }
                        }
                    }
                }
            }
        }
        .best-seller{
            padding: 70px 0 70px 0 ;
            .owl-nav{
                text-align: center !important;
            }
        }
        .app{
            .show-case{
                padding-left: 30px ;
                padding-right: 0 ;
            }
        }
        #notifications{
            .modal-content{
                padding: 30px 0 0 25px;
                height: 175px;
            }
        }
    }
}
@media (min-width: 280px) and (max-width: 360px){
    html[dir = "ltr"]{
        .header{
            .info{
                padding: 0;
                .email{
                    margin-right: 10px;
                    margin-left: 0;
                }
            }
            .navbar{
                .navbar-collapse{
                    .min-nav{
                        .navbar-brand{
                            margin-left: 0 ;
                            margin-right: 0 ;
                        }
                        .lang{
                            .dropdown{
                                .dropdown-menu{
                                    left: 30px;
                                    right: initial;
                                }
                            }
                        }
                        .others{
                            .login{
                                margin-left: 0;
                                margin-right: 0;
                                .dropdown{
                                    .dropdown-menu{
                                        left: -110px ;
                                        right: initial ;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #slider{
                .carousel-inner{
                    .carousel-item{
                        .overlay{
                            .text{
                                padding-right: 360px ;
                                padding-left: 0 ;
                            }
                        }
                    }
                }
            }
        }
        .best-seller{
            padding-left: 0 !important;
            .title{
                padding: 0;
            }
        }
        .order{
            .show-case{
                padding:  12px 0 0 25px ;
            }
        }
        .app{
            .show-case{
                padding-left: 30px;
                padding-right: 0;
                
            }
        }
        #notifications{
            .modal-content{
                padding: 30px 0 0 25px !important;
            }
        }
    }
}